* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}
body {
  background-image: url(./static/images/matrix.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Roboto";
  color: $primary-color;
  text-align: center;
}
